* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.panel {
  height: 100vh;
  box-sizing: border-box;
}
.panel .containerPanel {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.panel .containerPanel .left {
  width: 50%;
}
.panel .containerPanel .left .call {
  height: 100%;
  box-sizing: border-box;
}
.panel .containerPanel .left .call .containerCall {
  display: flex;
  align-items: end;
  height: 100%;
}
.panel .containerPanel .left .call .containerCall .leftNav {
  width: 30%;
  border-right: 1px solid #F3f3f4;
  border: 2px solid #F3f3f4;
  box-sizing: border-box;
  height: 90%;
}
.panel .containerPanel .left .call .containerCall .leftNav nav {
  padding: 10px;
  box-sizing: border-box;
}
.panel .containerPanel .left .call .containerCall .leftNav nav ul li {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  border-radius: 20px;
  transition: 0.3s;
  margin: 10px 0px;
}
.panel .containerPanel .left .call .containerCall .leftNav nav ul li span {
  color: #666;
  font-size: 12px;
}
.panel .containerPanel .left .call .containerCall .leftNav nav ul li:hover {
  background-color: #ccc;
}
.panel .containerPanel .left .call .containerCall .leftNav nav ul li.Active {
  background-color: #666;
}
.panel .containerPanel .left .call .containerCall .leftNav nav ul li.Active span {
  color: white;
}
.panel .containerPanel .left .call .containerCall .list {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
}
.panel .containerPanel .left .call .containerCall .list .title {
  height: 10%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.panel .containerPanel .left .call .containerCall .list .title h1 {
  font-weight: 400;
  font-size: 20px;
}
.panel .containerPanel .left .call .containerCall .list .container {
  overflow-y: auto;
  height: 90%;
  border-top: 2px solid #F3f3f4;
  box-sizing: border-box;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item {
  width: 90%;
  padding: 20px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #F3f3f4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item .iconCont {
  width: 20%;
  text-align: center;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item .iconCont .icon {
  font-size: 24px;
  color: blue;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item .desc {
  width: 60%;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item .desc h3 {
  font-weight: 500;
  font-size: 14px;
  color: blue;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item .desc span {
  font-size: 14px;
  color: green;
  font-style: italic;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item .desc strong {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0px;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item .state {
  width: 20%;
  text-align: center;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item .state span {
  font-size: 13px;
}
.panel .containerPanel .left .call .containerCall .list .container .c .item:hover {
  transform: translateX(5%);
}
.panel .containerPanel .stateBox {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
}
.panel .containerPanel .stateBox .boxCurrentlyNone {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.panel .containerPanel .stateBox .boxCurrentlyNone h1 {
  font-weight: 100;
  color: #ccc;
}
.panel .containerPanel .stateBox .boxCurrently {
  height: 100%;
}
.panel .containerPanel .stateBox .boxCurrently .top {
  height: 10%;
  display: flex;
  align-items: center;
}
.panel .containerPanel .stateBox .boxCurrently .top h3 {
  font-weight: 400;
  font-size: 22px;
}
.panel .containerPanel .stateBox .boxCurrently .info {
  height: 70%;
  display: flex;
  align-items: center;
}
.panel .containerPanel .stateBox .boxCurrently .info .containerInfoCall {
  width: 100%;
  margin: auto;
}
.panel .containerPanel .stateBox .boxCurrently .info .containerInfoCall .by strong {
  font-size: 14px;
  color: #666;
}
.panel .containerPanel .stateBox .boxCurrently .info .containerInfoCall .by span {
  color: green;
  font-size: 14px;
}
.panel .containerPanel .stateBox .boxCurrently .info .containerInfoCall .user strong {
  color: #666;
  font-size: 14px;
}
.panel .containerPanel .stateBox .boxCurrently .info .containerInfoCall .user span {
  color: blue;
  font-size: 14px;
}
.panel .containerPanel .stateBox .boxCurrently .bottom {
  height: 20%;
  display: flex;
  align-items: center;
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav {
  width: 100%;
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav ul li {
  display: inline-block;
  padding: 8px 40px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 5px;
  border-radius: 20px;
  font-size: 14px;
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav ul li:hover {
  transform: scale(1.1);
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav ul li.green {
  background-color: green;
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav ul li.green span {
  color: white;
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav ul li.span {
  background-color: #ccc;
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav ul li.delete {
  background-color: red;
}
.panel .containerPanel .stateBox .boxCurrently .bottom nav ul li.delete span {
  color: white;
}
